<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mehmet Akif</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="white-box">
            <div class="image-container"><img class="profile-image" src="./static/profile.png" alt="Profile image"/></div>
            <div class="name-container"><h1>MEHMET AKİF ÇEVİK</h1></div>
            <div class="info-container"><h2>Computer Engineer</h2></div>
        </div>
    </div>
</body>
</html>